.container
  .row
    .col-sm-12
      %h1= @article.title.upcase
      %h5
        Published
        = time_ago_in_words @article.created_at
        ago
      %p
        = link_to edit_article_path(@article) do
          Edit
        = link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } do
          Delete
      %p.article_content
        = simple_format(@article.body, {}, sanitize: false)
      %hr
      #disqus_thread
      :javascript
        var disqus_shortname = 'paubox';
        var disqus_config = function () {
          this.page.identifier = "#{@article.slug}";
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = '//rommydebommy.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      %noscript
        Please enable JavaScript to comment.
