.fallback
  .container
    = image_tag 'animations/email/encrypted_email.svg', class: 'img-fluid'
    %br
    %hr
    %br
    .row
      .col-sm-6
        %h1.m-b-0.text-primary 1
        = simple_format t('.text1')
      .col-sm-6
        %h1.m-b-0.text-primary 2
        = simple_format t('.text2')
    .row
      .col-sm-6
        %h1.m-b-0.text-primary 3
        = simple_format t('.text3')
      .col-sm-6
        %h1.m-b-0.text-primary 4
        = simple_format t('.text4')
.animation
  .animation-wrap
    .foreground><= image_tag 'animations/email/foreground.svg'
    .middleground><
      .laptop><
        .top><
          .back><= image_tag 'animations/email/macbook_top_back.svg'
          .front><
            = image_tag 'animations/email/macbook_top_front.svg'
            .window><
              %h1 !
      .envelope.envelope-1><= image_tag 'animations/email/envelope.svg'
      .envelope.envelope-2><= image_tag 'animations/email/envelope.svg'
      .envelope.envelope-3><= image_tag 'animations/email/envelope.svg'
      .envelope.envelope-4><= image_tag 'animations/email/envelope.svg'
      .envelope.envelope-5><= image_tag 'animations/email/envelope.svg'
      .envelope.envelope-6><= image_tag 'animations/email/envelope.svg'
    .background><= image_tag 'animations/email/background.svg'
    .texts.text-xs-center
      .text.text-1
        %h1.m-b-0.text-primary 1
        = simple_format t('.text1')
      .text.text-2
        %h1.m-b-0.text-primary 2
        = simple_format t('.text2')
      .text.text-3
        %h1.m-b-0.text-primary 3
        = simple_format t('.text3')
      .text.text-4
        %h1.m-b-0.text-primary 4
        = simple_format t('.text4')
