#requestDemo.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "requestDemoLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Request demo
      .modal-body
        = render 'contacts/form'
#contactForm.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "contactFormLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title= t('.title')
      .modal-body
        .row
          .col-md-6
            %p= t('.body')
          .col-md-6
            %p
              %b E:
              = t('.email')
              %br
              %b P:
              = t('.phone')
            %p
              = t('.address.street')
              %br
              = t('.address.floor')
              %br
              = t('.address.city')
            %h5= t('.tech_support.title')
            %b E:
            = t('.tech_support.email')
            %br
            %b P:
            = t('.tech_support.phone')
