%footer
  .container
    .row
      %ul.list-unstyled
        %li
          = link_to 'PAUBOX', root_path
        %li
          = link_to 'HIPAA Compliant Email', solutions_encrypted_email_path
        %li
          = link_to 'Solutions', solutions_path
        %li
          = link_to 'Customers', customers_path
        %li
          = link_to 'Security', security_path
        %li
          = link_to 'Terms', terms_path
        %li
          = link_to 'Blog', '/blog'
        %li
          = link_to 'Help', '/help'
        %li
          = link_to 'Contact', '/contact'
        %li
          Login
    .row
      .col-sm-6
        %p 2016 © PAUBOX, All Rights Reserved
