%footer
  .container
    .row
      .col-sm-12.m-b-2
        = image_tag 'branding/svg/white/paubox.svg', style: 'height: 1em'
    .row
      .col-sm-6
        %h5 Sitemap
        %ul.list-unstyled
          %li= link_to 'Home', root_path
          %li= link_to 'About HIPAA', hipaa_compliance_path
          %li
            = link_to 'Solutions', solutions_path
            %ul
              %li= link_to 'Encrypted Email', solutions_encrypted_email_path
              %li= link_to 'Encrypted Form', solutions_encrypted_form_path
              %li= link_to 'Branded Storage', solutions_branded_storage_path
              %li= link_to 'Email Api', solutions_email_api_path
          %li= link_to 'Customers', customers_path
          %li= link_to 'Security', security_path
          %li= link_to 'Terms', terms_path
          %li= link_to 'Blog', '/blog'
          %li= link_to 'Help', '/help'
          %li= link_to 'Contact', '/contact'
          %li Login
      .col-sm-6
        %h5 Social
        %ul.list-unstyled
          %li
            %a{href: "https://twitter.com/pauboxhq"}
              %i.mdi.mdi-twitter
              Twitter
          %li
            %a{href: "https://www.facebook.com/PauboxHQ"}
              %i.mdi.mdi-facebook
              Facebook
          %li
            %a{href: "https://www.youtube.com/channel/UCPEseZRadIWllAF0gdPCNcw"}
              %i.mdi.mdi-youtube-play
              Youtube
          %li
            %a{href: "https://plus.google.com/+Paubox/"}
              %i.mdi.mdi-google
              Google
          %li
            %a{href: "https://www.linkedin.com/company/paubox"}
              %i.mdi.mdi-linkedin
              Linkedin

    .row.m-t-3
      .col-sm-6
        %small
          2016 © PAUBOX, All Rights Reserved
      .col-sm-6
        .pull-sm-right
          %a{href: "http://www.superpencil.com/?utm_source=timegiver&utm_medium=footer+link&utm_campaign=project", class: 'superpencil', alt: 'Superpencil'}
            %small Design by
            %b.tag.tag-secondary
              = image_tag 'superpencil.svg', alt: 'Superpencil'
              Superpencil
