%section.hero
  .container
    .row
      .col-xs-12
        - unless title.blank?
          %h6.m-b-0.title= title
        - unless header.blank?
          %h2.p-t-1.m-b-0.m-t-0= header
        - unless sub_header.blank?
          %h4.p-b-1= sub_header
        - unless button_cta.blank?
          = link_to button_cta, new_user_registration_path, class: 'btn btn-success'
        - unless button_info.blank?
          %button.btn.btn-secondary{'data-target' => '#requestDemo', 'data-toggle' => 'modal'}= button_info
