%nav.navbar.navbar-dark.bg-primary.navbar-fixed-top
  %ul.nav.navbar-nav.hidden-sm-up
    %li.nav-item
      = link_to root_path, class: 'nav-link' do
        = image_tag 'branding/white/paubox_square_small.svg', style: 'height: 1em'
  %button.navbar-toggler.hidden-sm-up.pull-xs-right{'aria-controls' => 'collapseNav', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#collapseNav', 'data-toggle' => 'collapse', :type => 'button'}
    ☰
  #collapseNav.collapse.navbar-toggleable-xs
    %ul.nav.navbar-nav
      %li.nav-item.hidden-xs-down
        = link_to root_path, class: 'nav-link' do
          = image_tag 'branding/white/paubox_square_small.svg', style: 'height: 1em'
      %li.nav-item.hidden-sm-down
        = link_to t('welcomes.home.title'), root_path, class: 'nav-link'
      %li.nav-item
        = link_to 'About HIPAA', 'https://www.paubox.com/blog/hipaa-compliance', class: 'nav-link'
      %li.nav-item.dropdown
        %a.nav-link#solutionsDropdown.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown'}
          = t('welcomes.solutions.title')
        .dropdown-menu{'aria-labelledby' => 'solutionsDropdown'}
          = link_to solutions_encrypted_email_path, class: 'dropdown-item' do
            %i.mdi.mdi-email-secure
            = t('welcomes.solution_encrypted_email.title')
          = link_to solutions_encrypted_form_path, class: 'dropdown-item' do
            %i.mdi.mdi-fingerprint
            = t('welcomes.solution_encrypted_form.title')
          = link_to solutions_branded_storage_path, class: 'dropdown-item' do
            %i.mdi.mdi-folder-lock
            = t('welcomes.solution_branded_storage.title')
          = link_to solutions_email_api_path, class: 'dropdown-item' do
            %i.mdi.mdi-cube-send
            = t('welcomes.solution_email_api.title')
      %li.nav-item
        = link_to t('welcomes.customers.title'), customers_path, class: 'nav-link'
    %ul.nav.navbar-nav.pull-sm-right
      %li.nav-item
        = link_to '/help', class: 'nav-link' do
          Help
      %li.nav-item
        %a.nav-link{'data-target' => '#contactForm', 'data-toggle' => 'modal'}
          = t('.contact')
      - if user_signed_in?
        %li.nav-item
          = link_to edit_user_registration_path, class: 'nav-link' do
            = t('devise.registrations.edit.title', resource: current_user.model_name.human)
        %li.nav-item
          = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
            = t('.sign_out')
      - else
        %li.nav-item
          = link_to new_user_session_path, class: 'nav-link' do
            = t('devise.shared.links.sign_in')
        %li.nav-item
          = link_to new_user_registration_path, class: 'nav-link' do
            = t('devise.shared.links.sign_up')
