%nav.navbar.navbar-dark.bg-primary.navbar-fixed-top
  %ul.nav.navbar-nav.hidden-sm-up
    %li.nav-item
      = link_to root_path, class: 'nav-link' do
        = image_tag 'branding/svg/white/paubox_mini.svg', style: 'height: 1em'
  %button.navbar-toggler.hidden-sm-up.pull-xs-right{'aria-controls' => 'collapseNav', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#collapseNav', 'data-toggle' => 'collapse', :type => 'button'}
    ☰
  #collapseNav.collapse.navbar-toggleable-xs
    %ul.nav.navbar-nav
      %li.nav-item.hidden-xs-down
        = link_to root_path, class: 'nav-link' do
          = image_tag 'branding/svg/white/paubox_mini.svg', style: 'height: 1em'
      %li.nav-item
        = link_to 'Home', root_path, class: 'nav-link'
      %li.nav-item
        = link_to 'About HIPAA', hipaa_compliance_path, class: 'nav-link'
      %li.nav-item.dropdown
        %a.nav-link#solutionsDropdown.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown'}
          Solutions
        .dropdown-menu{'aria-labelledby' => 'solutionsDropdown'}
          = link_to solutions_encrypted_email_path, class: 'dropdown-item' do
            %i.mdi.mdi-email-secure
            Encrypted Email
          = link_to solutions_encrypted_form_path, class: 'dropdown-item' do
            %i.mdi.mdi-fingerprint
            Encrypted Form
          = link_to solutions_branded_storage_path, class: 'dropdown-item' do
            %i.mdi.mdi-folder-lock
            Branded Storage
          = link_to solutions_email_api_path, class: 'dropdown-item' do
            %i.mdi.mdi-cube-send
            Email Api
      %li.nav-item
        = link_to 'Customers', customers_path, class: 'nav-link'
    %ul.nav.navbar-nav.pull-sm-right
      %li.nav-item
        = link_to '/help', class: 'nav-link' do
          -# %i.mdi.mdi-help
          Help
      %li.nav-item.dropdown
        %a.nav-link{'data-target' => '#contactForm', 'data-toggle' => 'modal'}
          %span.ss-chat
          = t('.contact')
      %li.nav-item
        .nav-link
          -# %i.mdi.mdi-person
          Login
