%section#animation
  .fallback
    .container
      = image_tag 'animations/email/encrypted_email.svg', class: 'img-fluid'
      %br
      %hr
      %br
      .row
        .col-sm-6
          %h1.m-b-0.text-primary 1
          = simple_format t('.text1')
        .col-sm-6
          %h1.m-b-0.text-primary 2
          = simple_format t('.text2')
      .row
        .col-sm-6
          %h1.m-b-0.text-primary 3
          = simple_format t('.text3')
        .col-sm-6
          %h1.m-b-0.text-primary 4
          = simple_format t('.text4')
      .row
        .col-sm-12
          .m-b-1= simple_format t('.text5')
          %button.btn.btn-secondary.replay Play again
  .animation.security_animation
    .foreground
      .blue
        .left= image_tag 'animations/email/inbox_left_blue_front.svg'
        .right= image_tag 'animations/email/inbox_right_blue_front.svg'
      .red
        .left= image_tag 'animations/email/inbox_left_red_front.svg'
        .right= image_tag 'animations/email/inbox_right_red_front.svg'
    .middleground
      .line.line-1
      .line.line-2
      .line.line-3
      .line.line-4
      .line.line-5
      .line.line-6
      .laptop><
        .top><
          .back><= image_tag 'animations/email/laptop_back.svg'
          .front><
            = image_tag 'animations/email/laptop_front.svg'
            .laptop-window>< !
      .envelope.envelope-1><
        .blue= image_tag 'animations/email/envelope_blue.svg'
        .red= image_tag 'animations/email/envelope_red.svg'
      .envelope.envelope-2><
        .blue= image_tag 'animations/email/envelope_blue.svg'
        .red= image_tag 'animations/email/envelope_red.svg'
      .envelope.envelope-3><
        .blue= image_tag 'animations/email/envelope_blue.svg'
        .red= image_tag 'animations/email/envelope_red.svg'
      .envelope.envelope-4><
        .blue= image_tag 'animations/email/envelope_blue.svg'
        .red= image_tag 'animations/email/envelope_red.svg'
      .envelope.envelope-5><
        .blue= image_tag 'animations/email/envelope_blue.svg'
        .red= image_tag 'animations/email/envelope_red.svg'
      .envelope.envelope-6><
        .blue= image_tag 'animations/email/envelope_blue.svg'
        .red= image_tag 'animations/email/envelope_red.svg'
      .phone-window>< !
    .background
      .phone= image_tag 'animations/email/phone.svg'
      .base= image_tag 'animations/email/laptop_base.svg'
      .blue
        .left= image_tag 'animations/email/inbox_left_blue_back.svg'
        .right= image_tag 'animations/email/inbox_right_blue_back.svg'
      .red
        .left= image_tag 'animations/email/inbox_left_red_back.svg'
        .right= image_tag 'animations/email/inbox_right_red_back.svg'
    .texts.text-xs-center
      .text.text-1
        %h1.m-b-0.text-primary 1
        = simple_format t('.text1')
      .text.text-2
        %h1.m-b-0.text-primary 2
        = simple_format t('.text2')
      .text.text-3
        %h1.m-b-0.text-primary 3
        = simple_format t('.text3')
      .text.text-4
        %h1.m-b-0.text-primary 4
        = simple_format t('.text4')
      .text.text-5
        .m-b-1= simple_format t('.text5')
        %button.btn.btn-secondary.replay Play again
