%section
  .container
    .row
      .col-sm-12.text-xs-center
        %h2 Professionals use Paubox
        %br
        %br
    - t('.items').each_slice(2) do |items|
      .row
        - items.each do |item|
          .col-md-6
            .row
              .col-xs-2.col-md-3.col-lg-2
                = image_tag "customers/#{item[:image]}.png", alt: item[:name], class: 'img-fluid rounded-circle'
              .col-xs-10.col-md-9.col-lg-10
                %blockquote.blockquote
                  %p= item[:body]
                  %h5
                    = item[:name] + ', '
                    %span.text-primary= item[:title]
                  %h6= item[:company]
            %br
    .row
      .col-sm-12.text-xs-center
        = link_to 'View more customers', customers_path, class: 'btn btn-info'
%hr
