%section
  .container
    - t('.items').each_slice(2) do |items|
      .row
        - items.each do |item|
          .col-md-6
            .row
              .col-xs-2.col-md-3.col-lg-2
                = image_tag "customers/headshots/#{item[:image]}.png", alt: item[:name], class: 'img-fluid img-circle'
              .col-xs-10.col-md-9.col-lg-10
                %blockquote.blockquote
                  %p= item[:body]
                  %h5= item[:name] + ', ' + item[:title]
                  %h6= item[:company]
            %br
