%section#toy
  .container
    .row
      .col-sm-6
        %h4 Paubox Encrypted Email
        %h1{style: "margin-top:-1rem;margin-left:-.1rem;"}
          %b Explained
      .col-sm-3
        %p
          %span.text-primary Click the tabs
          below to compare Paubox to Regular Email and Portals.
      .col-sm-3
        %p
          %span.text-primary Mouseover or tap
          the questionmarks to view more detail about an element.
  .toy
    - (1..3).each do |scene|
      .scene{class: "scene-#{scene}"}
        .fallback
          = image_tag 'toy/encrypted_email.svg', class: 'img-fluid'

        .animated
          .background
            .phone= image_tag "toy/#{scene}/phone.svg", class: 'img-fluid'
            .base= image_tag "toy/#{scene}/laptop_base.svg", class: 'img-fluid'
            .left-inbox-back= image_tag "toy/#{scene}/inbox_left_back.svg", class: 'img-fluid'
            .right-inbox-back= image_tag "toy/#{scene}/inbox_right_back.svg", class: 'img-fluid'

          .middleground
            - (1..6).each do |line|
              .line{class: "line-#{line}"}
            .laptop
              .top
                .back
                  = image_tag "toy/#{scene}/laptop_back.svg", class: 'img-fluid'
                .front
                  = image_tag "toy/#{scene}/laptop_front.svg", class: 'img-fluid'
                  .laptop-screen
                    .laptop-window
                      %span Password
                      %span ******
            .phone-wrap
              .phone-screen
                .phone-window !
            - (1..2).each do |envelope|
              .envelope{class: "envelope-#{envelope}"}
                .red= image_tag 'toy/1/envelope.svg', class: 'img-fluid'
                .blue= image_tag 'toy/2/envelope.svg', class: 'img-fluid'
                .green= image_tag 'toy/3/envelope.svg', class: 'img-fluid'

          .foreground
            .left-inbox-front= image_tag "toy/#{scene}/inbox_left_front.svg", class: 'img-fluid'
            .right-inbox-front= image_tag "toy/#{scene}/inbox_right_front.svg", class: 'img-fluid'
            .popups
              - (1..7).each do |popup|
                .popup{class: "popup-#{popup} #{'right' if (5..7).include? popup}"}
                  .dot
                    %i.mdi.mdi-help
                  .content= t(".scene#{scene}.popup#{popup}")

  .container
    %br
    .row.scene-tabs
      .col-md-4.scene-tab.sceneStarter1
        %h4.text-danger
          %i.mdi.mdi-email-open
          Regular Email
        %p= t(".scene1.body")
      .col-md-4.scene-tab.sceneStarter2
        %h4.text-primary
          %i.mdi.mdi-dns
          Portals
        %p= t(".scene2.body")
      .col-md-4.scene-tab.sceneStarter3.active
        %h4.text-success
          %i.mdi.mdi-email-secure
          Encrypted Email
        %p= t(".scene3.body")
