= render partial: 'shared/header',
         locals: { title: t('.title'),
                   header: t('.header'),
                   sub_header: t('.sub_header') }
%section
  .container
    .row
      .col-lg-3
        .card.card-inverse.card-primary
          %h5.card-header= t('.contact.header')
          .card-block
            %p= t('.contact.body')
            %p
              %b E:
              = t('.contact.email')
              %br
              %b P:
              = t('.contact.phone')
            %p
              = t('.contact.address.street')
              %br
              = t('.contact.address.floor')
              %br
              = t('.contact.address.city')
            %h5= t('.contact.tech_support.title')
            %b E:
            = t('.contact.tech_support.email')
            %br
            %b P:
            = t('.contact.tech_support.phone')
      .col-lg-9
        %h2= t('.team.header')
        %hr
        - t('.team.items').each_slice(2) do |items|
          .row
            - items.each do |item|
              .col-md-6
                .row
                  .col-xs-3.col-md-4.col-lg-3
                    = image_tag "about/#{item[:image]}.png", alt: item[:name] + ' ' + item[:title], class: 'img-fluid img-circle'
                  .col-xs-9.col-md-8.col-lg-9
                    %h6.text-primary.m-b-0= item[:title]
                    %h5= item[:name]
                    %p= simple_format item[:body]
                    %br
        %h2= t('.advisors.header')
        %hr
        - t('.advisors.items').each_slice(2) do |items|
          .row
            - items.each do |item|
              .col-md-6
                .row
                  .col-xs-3.col-md-4.col-lg-3
                    = image_tag "about/#{item[:image]}.png", alt: item[:name], class: 'img-fluid img-circle'
                  .col-xs-9.col-md-8.col-lg-9
                    %h6.text-primary.m-b-0= item[:title]
                    %h5= item[:name]
                    %p= simple_format item[:body] 
                    %br
