= render partial: 'shared/header',
         locals: { title: t('.title'),
                   header: t('.header'),
                   sub_header: t('.sub_header') }
%section
  .container
    .row
      .col-md-4.text-md-right
        %h2= t('shared.contact.title')
        %p
        %p
          %b E:
          = t('shared.contact.email')
          %br
          %b P:
          = t('shared.contact.phone')
        %p
          = t('shared.contact.address.street')
          %br
          = t('shared.contact.address.floor')
          %br
          = t('shared.contact.address.city')
        %h6= t('shared.contact.tech_support.title')
        %b E:
        = t('shared.contact.tech_support.email')
        %br
        %b P:
        = t('shared.contact.tech_support.phone')
      .col-md-8
        %h2= t('.mission.header')
        %p= simple_format t('.mission.body')
%hr
%section
  .container
    .row
      .col-sm-12
        .text-xs-center
          %h2= t('.team.header')
          %br
          %br
        - t('.team.items').each_slice(2) do |items|
          .row
            - items.each do |item|
              .col-md-6
                .row
                  .col-xs-3.col-md-4.col-lg-3
                    = image_tag "about/#{item[:image]}.png", alt: item[:name] + ' ' + item[:title], class: 'img-fluid rounded-circle'
                  .col-xs-9.col-md-8.col-lg-9
                    %h6.text-primary.mb-0= item[:title]
                    %h5= item[:name]
                    %p= simple_format item[:body]
                    %br
%hr
%section
  .container
    .row
      .col-sm-12
        .text-xs-center
          %h2= t('.advisors.header')
          %br
          %br
        - t('.advisors.items').each_slice(2) do |items|
          .row
            - items.each do |item|
              .col-md-6
                .row
                  .col-xs-3.col-md-4.col-lg-3
                    = image_tag "about/#{item[:image]}.png", alt: item[:name], class: 'img-fluid rounded-circle'
                  .col-xs-9.col-md-8.col-lg-9
                    %h6.text-primary.mb-0= item[:title]
                    %h5= item[:name]
                    %p= simple_format item[:body]
                    %br
%hr
%section
  .container
    .row
      .col-sm-12.text-xs-center
        %h3 Design & Front-end Development by
        %a{href: "http://www.superpencil.com/?utm_source=paubox&utm_medium=about+link&utm_campaign=client", class: 'btn btn-warning btn-superpencil', alt: 'Superpencil', target: '_blank'}
          = image_tag 'partners/superpencil.svg', alt: 'Superpencil'
          %b Superpencil
