= render partial: 'shared/header',
         locals: { title: t('.title'),
                   header: t('.header'),
                   sub_header: t('.sub_header') }
%section
  .container
    - t('.people').each_slice(2) do |items|
      .row
        - items.each do |item|
          .col-lg-6
            .row
              .col-xs-2.col-md-3.col-lg-2
                = image_tag "customers/#{item[:image]}.png", alt: item[:name], class: 'img-fluid img-circle'
              .col-xs-10.col-md-9.col-lg-10
                %blockquote.blockquote
                  %p= simple_format item[:body]
                  %h5= item[:name] + ', ' + item[:title]
                  %h6= item[:company]
                  %small
                    %a{href: item[:link]}= t('.links')
            %br
    - t('.companies').each_slice(2) do |items|
      .row
        - items.each do |item|
          .col-lg-6
            .row
              .col-xs-2.col-md-3.col-lg-2
                = image_tag "customers/#{item[:image]}.png", alt: item[:name], class: 'img-fluid'
              .col-xs-10.col-md-9.col-lg-10
                %br
                %h5= item[:name]
                %p= simple_format item[:body]
                %a{href: item[:link]}= t('.links')
            %br
