= render partial: 'shared/header',
         locals: { title: t('.title'),
                   header: t('.header'),
                   sub_header: t('.sub_header') }
%section
  .container
    .row
      .col-sm-12
        %h4 What is HIPAA Compliant Email?
    .row
      .col-md-6
        %p
          The
          %a{href: 'https://www.paubox.com/blog/hipaa-privacy-rule-business-associates'} HIPAA Privacy Rule
          created, for the first time, a set of national standards for the safeguard of certain health information. It allows Covered Entities to disclose PHI to a Business Associate if they receive assurances that the Business Associate will use the information only in the scope of which it was engaged by the Covered Entity.
        %p
          If you are using a third party to transmit or host PHI, they are required by law to sign a
          %a{href: 'https://www.paubox.com/blog/business-associate-agreement-provisions'} Business Associate Agreement
        %p
          While there’s no certification that makes an email provider achieve
          %b HIPAA compliant email
          status, meeting the requirements set by the HIPAA Privacy Rule is the best place to start, along with strong technical security measures to make sure PHI is protected inbox to inbox.
      .col-md-6
        %p
          The Health Insurance Portability and Accountability Act (HIPAA), sets the standard for protecting sensitive patient data. Any organization dealing with
          %a{href: 'https://www.paubox.com/blog/protected-health-information-hipaa'} protected health information (PHI)
          must ensure that all the required physical, network, and process security measures are in place and followed. This of course includes HIPAA compliant email.
        %p
          This includes
          %b Covered Entities
          %b Business Associates
          %b HIPAA compliant email
          baked in when it comes to your email service provider.
        %p
          Even subcontractors, or business associates of business associates, must also be in compliance.
%section
  .container
    .row
      .col-sm-12
        %h4 HIPAA Compliance Violations are Increasing
    .row
      .col-md-6
        %ul
          %li
            %a{href: 'https://www.paubox.com/blog/hipaa-violations-outpace-everything'} HIPAA violations tripled over 10 years.
            %p Confirmed HIPAA violations are skyrocketing. Their growth rate over the past 10 years outpaces almost any trend that comes to mind.
          %li
            %a{href: 'https://www.paubox.com/blog/stolen-laptops-continue-result-huge-hipaa-fines'} Stolen laptopscontinue to result in huge fines.
            %p In several instances, a single stolen laptop led to fines in excess of $1,000,000 from HHS.
          %li
            %a{href: 'https://www.paubox.com/blog/hipaa-fines-caused-stolen-thumb-drives'} A stolen thumb drive averages $925,000 in HIPAA fines.
            %p Since 2012, it costs an average of $925,000 in HIPAA fines for a single stolen thumb drive.
          %li
            %a{href: 'https://www.paubox.com/blog/hipaa-privacy-violations-include-stolen-office-computers'} Stolen office computers can be subject to fines too.
            %p Even a computer that never leaves your office can still be subject to a costly fine due to a HIPAA Privacy Act violation.
          %li
            %a{href: 'https://www.paubox.com/blog/hipaa-fines-unpatched-unsupported-software'} Unpatched and unsupported software
            can also lead to fines.
      .col-md-6
        = render partial: 'shared/hipaa_chart'
%section
  .container
    .row
      .col-sm-12
        %h4 How can you be sure you have HIPAA compliant Email?
    .row
      .col-md-6
        %p
          In order to make sure your organization achieves
          %b HIPAA compliant email
        %p
          Paubox can help you protect your patients’ data while providing it to them in a way that’s easy to access. We are able to do this because we believe in the term '
          %i seamless encryption
          '.
          %a{href: 'https://www.paubox.com/blog/seamless-encryption-mean'} Seamless encryption
          , HIPAA compliant email
        %p Seamless encryption, like that used in Paubox’s Encrypted Email, reduces the risk of accidentally sending PHI over email. It can be easy to forget to press an encrypt button before pressing send, or simply not realizing there was PHI in an email that was sent. But Paubox’s Encrypted Email allows users to write and send emails as normal from a laptop, desktop and mobile device – Paubox seamlessly works behind the scenes to keep all outbound email within HIPAA compliance.
      .col-md-6
        %p
          Even better, Paubox’s HIPAA compliant email solution includes robust SPAM, virus and phishing protection.Phishing scams are still the most common way email gets hacked and continues to lead to
          %a{href: 'http://www.healthcareitnews.com/news/phishing-scam-data-breach-compromises-data-39k'} HIPAA violations
        %p With Paubox’s Branded Storage your files can be kept and shared from our HIPAA compliant cloud solution, reducing the risk of a stolen laptop or lost thumb drive leading to a breach. Built for enterprises, Branded Storage allows you to have complete control over accounts with an intuitive admin panel, gives you the ability to share expiring links to folders and files and much more.
        %p
          Additional Resource:
          %a{href: 'http://www.hhs.gov/ocr/office/index.html'} U.S. Department of Health and Human Services
%section
  .container
    .row
      .col-sm-12
        %h4 Next steps
    .row
      .col-sm-6
        .card.card-inverse.card-primary
          %h4.card-header Paubox Solutions
          .card-block
            %p.card-text All our solutions are HIPAA compliant and easy to use.
            %p.card-text
              If you're not sure what to do next, feel free to
              %a{href: 'https://www.paubox.com/p_home#contactus'} contact us
              today.
          %ul.list-group.list-group-flush
            %li.list-group-item
              = link_to solutions_encrypted_email_path, class: 'card-link' do
                %i.mdi.mdi-email-secure
                Encrypted Email
            %li.list-group-item
              = link_to solutions_encrypted_form_path, class: 'card-link' do
                %i.mdi.mdi-fingerprint
                Encrypted Form
            %li.list-group-item
              = link_to solutions_branded_storage_path, class: 'card-link' do
                %i.mdi.mdi-folder-lock
                Branded Storage
            %li.list-group-item
              = link_to solutions_email_api_path, class: 'card-link' do
                %i.mdi.mdi-cube-send
                Email Api
      .col-sm-6
        .card.card-inverse.card-primary
          %h4.card-header HIPAA vs. HIPPA
          .card-block
            %p.card-text Looking for HIPPA Compliant Email?
            %p.card-text People often get confused between HIPAA email and HIPPA email. HIPAA is commonly misspelled as HIPPA and it’s easy to mistakenly google for “HIPPA compliant email” or “HIPPA email.” Google however, is smart enough to know the correct spelling and will point you to the right pages by default. In a nutshell, “HIPPA compliant email” or “HIPPA email” are not correct. “HIPAA compliant email” or “HIPAA email” are the correct search terms.
