%section#email-api
  .container
    .row
      .col-sm-12
        %h1 HIPAA Compliant Email
        %h2 How to Enable HIPAA Compliant Email
        %p
          %img.aligncenter.wp-image-1992.size-full{:alt => "HIPAA compliance for email - Paubox", :height => "200", :sizes => "(max-width: 940px) 100vw, 940px", :src => "https://www.paubox.com/blog/wp-content/uploads/2015/04/HIPAACompliance.png", :srcset => "https://www.paubox.com/blog/wp-content/uploads/2015/04/HIPAACompliance.png 940w, https://www.paubox.com/blog/wp-content/uploads/2015/04/HIPAACompliance-300x64.png 300w", :width => "940"}
        %p{:style => "text-align: left;"}
          %strong> Last updated August 29, 2016. 
          The Health Insurance Portability and Accountability Act (HIPAA), sets the standard for protecting sensitive patient data. Any organization dealing with
          %a{:href => "https://www.paubox.com/blog/protected-health-information-hipaa", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/protected-health-information-hipaa', 'protected health information (PHI)');", :rel => "nofollow", :target => "_blank"} protected health information (PHI)
          must ensure that all the required physical, network, and process security measures are in place and followed. This of course includes HIPAA compliant email.
        %p
          This includes
          = succeed "\u{a0}(anyone" do
            %strong Covered Entities
          = succeed "(anyone" do
            %strong Business Associates
          %strong HIPAA compliant email
          baked in when it comes to your email service provider.
        %p Even subcontractors, or business associates of business associates, must also be in compliance.
        %h1 What is HIPAA Compliant Email?
        %p
          The
          %a{:href => "https://www.paubox.com/blog/hipaa-privacy-rule-business-associates", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/hipaa-privacy-rule-business-associates', 'HIPAA Privacy Rule');", :rel => "nofollow"} HIPAA Privacy Rule
          created, for the first time, a set of national standards for the safeguard of certain health information. It allows Covered Entities to disclose PHI to a Business Associate if they receive assurances that the Business Associate will use the information only in the scope of which it was engaged by the Covered Entity.
        %p
          If you are using a third party to transmit or host PHI, they are required by law to sign a
          = succeed "\u{a0}(BAA)" do
            %a{:href => "https://www.paubox.com/blog/business-associate-agreement-provisions", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/business-associate-agreement-provisions', 'Business Associate Agreement');", :rel => "nofollow", :target => "_blank"} Business Associate Agreement
        %p
          While there’s no certification that makes an email provider achieve
          %strong HIPAA compliant email
          status, meeting the requirements set by the HIPAA Privacy Rule is the best place to start, along with strong technical security measures to make sure PHI is protected inbox to inbox.
        %h1 HIPAA Compliance Violations are Increasing
        %ul
          %li
            %a{:href => "https://www.paubox.com/blog/hipaa-violations-outpace-everything", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/hipaa-violations-outpace-everything', 'HIPAA violations tripled over 10 years.');", :rel => "nofollow", :target => "_blank"} HIPAA violations tripled over 10 years.
            Confirmed HIPAA violations are skyrocketing. Their growth rate over the past 10 years outpaces almost any trend that comes to mind.
          %li
            %a{:href => "https://www.paubox.com/blog/stolen-laptops-continue-result-huge-hipaa-fines", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/stolen-laptops-continue-result-huge-hipaa-fines', 'Stolen laptops continue to result in huge fines');", :rel => "nofollow", :target => "_blank"}> Stolen laptops continue to result in huge fines
            \. In several instances, a single stolen laptop led to fines in excess of $1,000,000 from HHS.
          %li
            %a{:href => "https://www.paubox.com/blog/hipaa-fines-caused-stolen-thumb-drives", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/hipaa-fines-caused-stolen-thumb-drives', 'A stolen thumb drive averages $925,000 in HIPAA fines');", :rel => "nofollow", :target => "_blank"}> A stolen thumb drive averages $925,000 in HIPAA fines
            \. Since 2012, it costs an average of $925,000 in HIPAA fines for a single stolen thumb drive.
          %li
            %a{:href => "https://www.paubox.com/blog/hipaa-privacy-violations-include-stolen-office-computers", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/hipaa-privacy-violations-include-stolen-office-computers', 'Stolen office computers can be subject to fines too');", :rel => "nofollow", :target => "_blank"}> Stolen office computers can be subject to fines too
            \. Even a computer that never leaves your office can still be subject to a costly fine due to a HIPAA Privacy Act violation.
          %li
            %a{:href => "https://www.paubox.com/blog/hipaa-fines-unpatched-unsupported-software", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/hipaa-fines-unpatched-unsupported-software', 'Unpatched and unsupported software');", :rel => "nofollow", :target => "_blank"} Unpatched and unsupported software
            can also lead to fines.
        %p
          %img.alignleft.size-full.wp-image-5807{:alt => "HIPAA Violations since 2004 - Paubox", :height => "869", :sizes => "(max-width: 1508px) 100vw, 1508px", :src => "https://www.paubox.com/blog/wp-content/uploads/2015/01/HIPAAViolations-new.png", :srcset => "https://www.paubox.com/blog/wp-content/uploads/2015/01/HIPAAViolations-new.png 1508w, https://www.paubox.com/blog/wp-content/uploads/2015/01/HIPAAViolations-new-300x173.png 300w, https://www.paubox.com/blog/wp-content/uploads/2015/01/HIPAAViolations-new-768x443.png 768w, https://www.paubox.com/blog/wp-content/uploads/2015/01/HIPAAViolations-new-1024x590.png 1024w", :width => "1508"}
        %h1 How can you be sure you have HIPAA compliant Email?
        %p
          In order to make sure your organization achieves
          = succeed "," do
            %strong HIPAA compliant email
        %p
          Paubox can help you protect your patients’ data while providing it to them in a way that’s easy to access. We are able to do this because we believe in the term ‘
          %em> seamless encryption
          \.’
          = succeed "is" do
            %a{:href => "https://www.paubox.com/blog/seamless-encryption-mean", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/blog/seamless-encryption-mean', 'Seamless encryption ');", :rel => "nofollow", :target => "_blank"} Seamless encryption
          = succeed "," do
            %em HIPAA compliant email
        %p Seamless encryption, like that used in Paubox’s Encrypted Email, reduces the risk of accidentally sending PHI over email. It can be easy to forget to press an encrypt button before pressing send, or simply not realizing there was PHI in an email that was sent. But Paubox’s Encrypted Email allows users to write and send emails as normal from a laptop, desktop and mobile device – Paubox seamlessly works behind the scenes to keep all outbound email within HIPAA compliance.
        %p
          Even better, Paubox’s
          %em HIPAA compliant email
          solution includes robust SPAM, virus and phishing protection.Phishing scams are still the most common way email gets hacked and continues to lead to
          = succeed "." do
            %a{:href => "http://www.healthcareitnews.com/news/phishing-scam-data-breach-compromises-data-39k", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'http://www.healthcareitnews.com/news/phishing-scam-data-breach-compromises-data-39k', 'HIPAA violations');", :rel => "nofollow", :target => "_blank"} HIPAA violations
        %p With Paubox’s Branded Storage your files can be kept and shared from our HIPAA compliant cloud solution, reducing the risk of a stolen laptop or lost thumb drive leading to a breach. Built for enterprises, Branded Storage allows you to have complete control over accounts with an intuitive admin panel, gives you the ability to share expiring links to folders and files and much more.
        %h2 HIPAA Compliance for Paubox Products
        %p
          %img.emoji{:alt => "✔", :draggable => "false", :src => "https://s.w.org/images/core/emoji/2/svg/2714.svg"}
          %a{:href => "https://www.paubox.com/encrypted_email", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/encrypted_email', 'Paubox Encrypted Email');", :rel => "nofollow"} Paubox Encrypted Email
          %br/
          %img.emoji{:alt => "✔", :draggable => "false", :src => "https://s.w.org/images/core/emoji/2/svg/2714.svg"}
          %a{:href => "https://www.paubox.com/encrypted_forms", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/encrypted_forms', 'Paubox Encrypted Forms');", :rel => "nofollow"} Paubox Encrypted Forms
          %br/
          %img.emoji{:alt => "✔", :draggable => "false", :src => "https://s.w.org/images/core/emoji/2/svg/2714.svg"}
          %a{:href => "https://www.paubox.com/branded_storage", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/branded_storage', 'Paubox Branded Storage');", :rel => "nofollow"} Paubox Branded Storage
          %br/
          %img.emoji{:alt => "✔", :draggable => "false", :src => "https://s.w.org/images/core/emoji/2/svg/2714.svg"}
          %a{:href => "https://www.paubox.com/email_api", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/email_api', 'Paubox Email API');", :rel => "nofollow"} Paubox Email API
        %p
          Not sure what to do next?
          %a{:href => "https://www.paubox.com/p_home#contactus", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'https://www.paubox.com/p_home#contactus', 'Contact us');", :rel => "nofollow"} Contact us
          today.
        #wpcf7-f1912-p1641-o1.wpcf7{:dir => "ltr", :lang => "en-US", :role => "form"}
          .screen-reader-response
          %form.wpcf7-form{:action => "/blog/hipaa-compliance#wpcf7-f1912-p1641-o1", :method => "post", :novalidate => "novalidate"}
            %div{:style => "display: none;"}
              %input{:name => "_wpcf7", :type => "hidden", :value => "1912"}
              %input{:name => "_wpcf7_version", :type => "hidden", :value => "4.5"}
              %input{:name => "_wpcf7_locale", :type => "hidden", :value => "en_US"}
              %input{:name => "_wpcf7_unit_tag", :type => "hidden", :value => "wpcf7-f1912-p1641-o1"}
              %input{:name => "_wpnonce", :type => "hidden", :value => "b4425e5745"}
            %p
              %span.wpcf7-form-control-wrap.first_name
                %input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{"aria-invalid" => "false", "aria-required" => "true", :name => "first_name", :placeholder => "First Name", :size => "40", :type => "text", :value => ""}
            %p
              %span.wpcf7-form-control-wrap.last_name
                %input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{"aria-invalid" => "false", "aria-required" => "true", :name => "last_name", :placeholder => "Last Name", :size => "40", :type => "text", :value => ""}
            %p
              %span.wpcf7-form-control-wrap.email
                %input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{"aria-invalid" => "false", "aria-required" => "true", :name => "email", :placeholder => "Email", :size => "40", :type => "email", :value => ""}
            %p
              %span.wpcf7-form-control-wrap.phone
                %input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{"aria-invalid" => "false", "aria-required" => "true", :name => "phone", :placeholder => "Phone", :size => "40", :type => "text", :value => ""}
            %p
              %span.wpcf7-form-control-wrap.title
                %input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{"aria-invalid" => "false", "aria-required" => "true", :name => "title", :placeholder => "Job Title", :size => "40", :type => "text", :value => ""}
            %p
              %span.wpcf7-form-control-wrap.company
                %input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{"aria-invalid" => "false", "aria-required" => "true", :name => "company", :placeholder => "Company", :size => "40", :type => "text", :value => ""}
            %p
              %span.wpcf7-form-control-wrap.employees
                %select#employees.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required{"aria-invalid" => "false", "aria-required" => "true", :name => "employees"}
                  %option{:value => "Employees"} Employees
                  %option{:value => "1 - 5 employees"} 1 - 5 employees
                  %option{:value => "6 - 20 employees"} 6 - 20 employees
                  %option{:value => "21 - 100 employees"} 21 - 100 employees
                  %option{:value => "101 - 500 employees"} 101 - 500 employees
                  %option{:value => "501 - 3500 employees"} 501 - 3500 employees
                  %option{:value => "3501 + employees"} 3501 + employees
            %p
              %input.wpcf7-form-control.wpcf7-submit.button-blue{:type => "submit", :value => "GET STARTED"}
              %img.ajax-loader{:alt => "Sending ...", :src => "https://www.paubox.com/blog/wp-content/plugins/contact-form-7/images/ajax-loader.gif", :style => "visibility: hidden;"}
            .wpcf7-response-output.wpcf7-display-none
        %p
          Additional Resource:
          %a{:href => "http://www.hhs.gov/ocr/office/index.html", :onclick => "__gaTracker('send', 'event', 'outbound-article', 'http://www.hhs.gov/ocr/office/index.html', 'U.S. Department of Health and Human Services');", :rel => "nofollow", :target => "_blank"} U.S. Department of Health and Human Services
        %h2 Looking for HIPPA Compliant Email?
        %p People often get confused between HIPAA email and HIPPA email. HIPAA is commonly misspelled as HIPPA and it’s easy to mistakenly google for “HIPPA compliant email” or “HIPPA email.” Google however, is smart enough to know the correct spelling and will point you to the right pages by default. In a nutshell, “HIPPA compliant email” or “HIPPA email” are not correct. “HIPAA compliant email” or “HIPAA email” are the correct search terms.
