= render partial: 'shared/hero',
         locals: { title: t('.title'),
                   header: t('.header'),
                   sub_header: t('.sub_header'),
                   button_info: t('.button_info'),
                   button_cta: t('.button_cta') }
%section
  .container
    .row
      .col-sm-12.text-sm-center
        %h2= t('.media.title')
    .row
      .col-sm-1
      - t('.media.media_logos').each do |item|
        .col-xs-4.col-sm-2
          %a{href: item[:link], rel: 'nofollow', target: '_blank'}
            = image_tag "media/#{item[:image]}.png", alt: item[:name], class: 'img-fluid'
= render partial: 'shared/solutions_list'
= render partial: 'shared/testimonials'
