%section#partners-header
  .container
    .row
      .col-sm-12.text-sm-center
        %h1
          Partner Program
        %h4 Stand out with Paubox
        %hr
%section#partners-intro
  .container
    .row
      .col-sm-12.text-sm-center
        %h4 Benefits of becoming a Paubox Partner
    .row
      .col-sm-6
        %ul
          %li Access to market leading HIPAA compliant email technology
          %li Responsive 24/7 support for Partners and their clients
          %li Ongoing training and sales support
      .col-sm-6
        %ul
          %li No program or renewal fees
          %li Friendly commission structure to fit your business model
          %li White label opportunity for cloud storage and online forms
%section#partners-list
  .container
    .row
      .col-xs-6.col-lg-3
        = image_tag 'partners/connect_the_doc.png', class: 'img-fluid'
      .col-xs-6.col-lg-3
        = image_tag 'partners/cumulus.png', class: 'img-fluid'
      .col-xs-6.col-lg-3
        = image_tag 'partners/dox.png', class: 'img-fluid'
      .col-xs-6.col-lg-3
        = image_tag 'partners/firenerds.png', class: 'img-fluid'
    .row
      .col-xs-6.col-lg-3
        = image_tag 'partners/gjb.png', class: 'img-fluid'
      .col-xs-6.col-lg-3
        = image_tag 'partners/lean.png', class: 'img-fluid'
      .col-xs-6.col-lg-3
        = image_tag 'partners/lokahi.png', class: 'img-fluid'
      .col-xs-6.col-lg-3
        = image_tag 'partners/riveted.png', class: 'img-fluid'
    .row
      .col-lg-3
      .col-xs-6.col-lg-3
        = image_tag 'partners/trifecta.png', class: 'img-fluid'
      .col-xs-6.col-lg-3
        = image_tag 'partners/warp.png', class: 'img-fluid'
