= render partial: 'shared/hero',
         locals: { title: t('.title'),
                   header: t('.header'),
                   sub_header: t('.sub_header'),
                   button_info: t('.button_info'),
                   button_cta: t('.button_cta') }
= render partial: 'shared/solution_intro',
         locals: { intro: t('.intro') }
= render partial: 'shared/solution_features',
         locals: { features: t('.features') }
= render partial: 'shared/testimonials'
= render partial: 'shared/sub_footer',
         locals: { footer: t('.sub_footer')}
