!!! 5
%html{lang: 'en'}
  %head
    :javascript
      (function() {
        var path = '//easy.myfonts.net/v2/js?sid=206566(font-family=FF+DIN+Round+Pro+Medium)&sid=206567(font-family=FF+DIN+Round+Pro+Bold)&sid=206569(font-family=FF+DIN+Round+Pro+Light)&sid=236049(font-family=FF+DIN+Round+OT+Regular)&key=2yda3y10pb',
          protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
          trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
      })();
    %title Paubox
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %meta{:'http-equiv' => 'x-ua-compatible', content: 'ie=edge'}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{id: params[:controller], class: params[:action]}
    = render partial: 'shared/menu'
    = render partial: 'shared/flash'
    .wrapper
      = yield
      .push
    %footer
      = render partial: 'shared/sub_footer'
      = render partial: 'shared/footer'
    = render partial: 'shared/contact'
